
@font-face {/* serve para chamar a fonte*/
    font-family: 'poppinsblack';/* nome que vou achar ela no css */
    src: url('../components/fonts/') format('woff2'), /* na url a rota da fonte componets-fonts*/ 
         url('../components/fonts/poppins-black-webfont.woff') format('woff');/* fomart e o formato da fonte "woff" e a esxtenção do arquivono caso da fonte(existem varios)*/ 
    font-weight: normal;/* Força da fonte*/ 
    font-style: normal;/* Estilo da fonte */
  
  }
  
  
  
  
  @font-face {
    font-family: 'poppinsbold';
    src: url('../components/fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  @font-face {
    font-family: 'poppinslight';
    src: url('../components/fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  @font-face {
    font-family: 'poppinsmedium';
    src: url('../components/fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'poppinsregular';
    src: url('../components/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'poppinssemibold';
    src: url('../components/fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  